# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# JetBrains IDE files
.idea/

# VS Code files
.vscode/

# Jest Coverage
coverage/

# nyc test coverage
.nyc_output/

# macOS Finder
.DS_Store

# macOS trash
*.swp
*.swo
*.swn

# Yarn Integrity file
.yarn-integrity
